<main>
  <main class="form-signin">
    <div class="mb-4" alt="">
      <% if @likes_count <= 5 %>
        <%= image_tag 'tankozo1.png', :size => '300x300'%>
      <% elsif @likes_count <= 9 %>
        <%= image_tag 'tankozo2.png', :size => '300x300'%>
      <% else%>
        <%= image_tag 'tankozo3.png', :size => '300x300'%>
      <% end %>
    </div>
    <h1 class="show-nickname"><%= @user.nickname %></h1>
    <div class="show-taste"><%= @user.favorite_taste.name %></div>
  </main>

<div id="my-index">
<div class="tabs">
  <div class ="tab_item">
    <%= link_to "投稿リスト", user_users_path(@user.id), class:"titlename", remote: true %>
    <%= @user.restaurants.count %>件
  </div>
  <div class ="tab_item hidden-tab_item">
  <%= link_to "行きたいリスト", user_hopes_path(@user.id), class:"titlename", remote: true %>
  <%= @user.hopes.count %>件
  </div>
  <div class ="tab_item hidden-tab_item">
  <%= link_to "よかったリスト", user_likes_path(@user.id), class:"titlename", remote: true %>
  <%= @user.likes.count %>件
  </div>
</div>
  
  <div class="album py-5 bg-light album-shadow">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <% if @user.restaurants.count == 0 %>
          <div class="no-list"><i class="fas fa-frog faa-bounce animated"></i> 未登録</div>
        <% else %>
          <% @user_restaurants.each do |restaurant| %>
            <div class="col">
              <div class="card shadow-sm h-100">
                <%= image_tag restaurant.image.variant( resize: "300x300^", gravity: "center", crop: "300x300+0+0" ), class: "bd-placeholder-img card-img-top h-100" %>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%=link_to "View", restaurant_path(restaurant), class:"btn-outline-secondary user-show"%></button>
                      <% if user_signed_in? && current_user.id == @user.id %>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><%=link_to "Edit", edit_restaurant_path(restaurant), class:"btn-outline-secondary user-show"%></button>
                      <% end %>
                    </div>
                    <div class="info-group">
                      <div class="info-group-rname">
                        <small class="text-muted hopelike-list"><%= restaurant.name %>　</small>
                      </div>
                      <div class="info-group-pname">
                        <small class="text-muted hopelike-list"><%= restaurant.prefecture.name %></small>
                      </div>
                    </div>
                    <div class="hopelike-group">
                      <small class="text-muted"><i class="fas fa-running faa-passing-reverse hope-btn" id="hope-btn"></i><%= restaurant.hopes.length %><i class="far fa-heart faa-ring like-btn" id="like-btn"></i><%= restaurant.likes.length %></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= paginate @user_restaurants, remote: true %>
  </div>
</div>

  <p class="m-5 pb-4 text-center text-muted">&copy; Tankozo</p>

</main>