  <header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="<%= asset_path "tankozoheader.png" %>" width="100%" height="40" class="bi me-2">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"></a></li>
      </ul>

      <%= form_with(url: search_restaurants_path, local: true, method: :get, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3") do |form| %>
      <%= form.text_field :keyword, placeholder: "Search...", class: "form-control" %>
      <% end %>

      <div class="dropdown text-end">
        <% if user_signed_in? %>
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <% if @likes_count <= 5 %>
            <img src="<%= asset_path "tankozo1.png" %>" alt="mdo" width="32" height="32" class="rounded-circle">
          <% elsif @likes_count <= 9 %>
            <img src="<%= asset_path "tankozo2.png" %>" alt="mdo" width="32" height="32" class="rounded-circle">
          <% else%>
            <img src="<%= asset_path "tankozo3.png" %>" alt="mdo" width="32" height="32" class="rounded-circle">
          <% end %>
          <%# ↑にたん小僧のアバターを入れる %>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><%= link_to 'My page', user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to 'Edit profile', edit_user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to 'Post', new_restaurant_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        <% else %>
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" alt="mdo" fill="currentColor" class="rounded-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><%= link_to 'ログイン', new_user_session_path, class: "dropdown-item" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "dropdown-item" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  </header>