<%# 店舗投稿（new）時と同じCSSを使用 %>

<body class="text-center">
  <main class="form-signin">
    <%= form_with model: @restaurant, local: true do |f| %>
      <div class="mb-4" alt="">
        <%= image_tag 'tankozoedit.png', :size => '300x300'%>
      </div>
      <h1 class="h3 mb-3 fw-normal">お店を編集する</h1>

      <%= render 'shared/error_messages', model: f.object %>
      
      <div class="form-floating new">
        <%= f.text_field :name, class:"form-control restaurant-name", id:"floatingInputname", placeholder:"店舗名", autofocus: true %>
        <label for="floatingInput">店舗名</label>
      </div>
      <div class="collection">
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
      </div>
      <div class="form-floating new">
        <%= f.text_field :station, class:"form-control station", id:"floatingInputname", placeholder:"Nickname" %>
        <label for="floatingInput">駅名</label>
      </div>
      <div class="collection">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"genre"}) %>
      </div>
      <div class="form-floating new">
        <%= f.text_field :food, class:"form-control food", id:"floatingInput", placeholder:"アヒージョ" %>
        <label for="floatingInput">食品名</label>
      </div>
      <div class="collection">
        <%= f.collection_select(:price_id, Price.all, :id, :name, {}, {class:"select-box", id:"price"}) %>
      </div>
      <div class="form-floating new">
        <%= f.text_area :opinion, class:"form-control opinion", id:"opinion", placeholder:"評価コメント" %>
        <label for="floatingPassword" class="opinion">評価コメント</label>
      </div>
      <h6>食品画像</h6>
      <div class="click-upload">
        <%= f.file_field :image, id:"image" %>
      </div>

      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-primary postbtn" type="submit">Submit</button>
      <p class="mt-5 mb-3 text-muted">&copy; Tankozo</p>
    <% end %>
  </main>
</body>
