<div class="topimage-backbox ">
<div class="container px-4 topimage-box" id="custom-cards">
  <%= image_tag 'tankozotop.png', size: '400x400', class: "tankozotop" %>
</div>
</div>

<div class="ranking-box">
  <div class="ranking-left">
    <%= image_tag 'tankozoranking.png', size: '300x300', class: "tankozoranking" %>
  </div>
  <div class="ranking-right">
    <% if @restaurant_likes_ranks.count == 0 %>
      <div class="rank_zero">ランキング準備中...</div>
    <% else %>
      <div class="rank-class">
        <% @restaurant_likes_ranks.each.with_index(0) do |restaurant_likes_ranks, i| %>
          <div class="rank-slickbox">
            <div class="rank-image">
              <%= link_to restaurant_path(restaurant_likes_ranks) do %>
                <%= image_tag @restaurant_likes_ranks[i].image.variant( resize: "250x250^", gravity: "center", crop: "250x250+0+0" ), class: "tankozoranking" %>
              <% end %>
            </div>
            <div class="rank-info">
              <small class="text-muted rank-name">
                <%= restaurant_likes_ranks.food %>
              </small>
              <small class="rank-like">
                <i class="far fa-heart faa-tada rank-like-btn"></i>
                <%= restaurant_likes_ranks.likes.count %>
                よかった
              </small>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<main class="main">
  <div class="album pt-5 pb-4 bg-light">
    <div class="container">
      <% if @restaurants.count == 0 %>
        <div class="rank_zero">店舗準備中...</div>
      <% else %>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% @restaurants.each do |restaurant| %>
              <div class="col">
                <div class="card shadow-sm h-100">
                  <%= image_tag restaurant.image.variant( resize: "300x300^", gravity: "center", crop: "300x300+0+0" ), class: "bd-placeholder-img card-img-top h-100" %>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><%=link_to "View", restaurant_path(restaurant), class:"btn-outline-secondary user-show"%></button>
                      </div>
                      <small class="text-muted hopelike-list">
                        <%= restaurant.food %>
                        <%= restaurant.prefecture.name %>
                        <%= l restaurant.created_at %>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
        <%= paginate @restaurants %>
      <% end %>
    </div>
  </div>
    <h2 class="pb-2 border-top"></h2>
  <p class="m-4 pb-4 text-center text-muted">&copy; Tankozo</p>
</main>