<main>

  <div class="show-main">
    <div class="showcontent">
        <div class="show-img" alt="">
          <%= image_tag @restaurant.image.variant( resize: "500x500^", gravity: "center", crop: "500x500+0+0" ) %>
        </div>

        <div class="show-line-btn">
          <% if user_signed_in? && current_user.id == @restaurant.user_id %>
            <div class="showmain-likestotal">
              <small class="text-muted"><i class="fas fa-running hope-btn" id="hope-btn"></i><%= @restaurant.hopes.length %><i class="far fa-heart faa-ring like-btn" id="like-btn"></i><%= @restaurant.likes.length %></small>
            </div>
            <div><%=link_to "Edit", edit_restaurant_path(@restaurant), class:"show-edit" %></div>
            <div><%=link_to "Delete", restaurant_path(@restaurant), method: :delete, class:"show-delete", data: {confirm: "本当に削除しますか？"} %></div>
          <% elsif  user_signed_in? && current_user.id != @restaurant.user_id  %>
            <%# 行きたい条件分岐 %>
            <div id="run">
              <% if @hope.present? %>
                <div class="show-hope">
                  <%=link_to restaurant_hope_path(@restaurant.id, @hope[0].id), method: :delete, class:"show-form", remote: true do %>
                    <i class="fas fa-running faa-horizontal animated-hover hope-btn" id="hope-btn"></i>
                  <% end %>
                  <%= @restaurant.hopes.length %>
                  行きたい
                </div>
              <% else %>
                <div class="show-hope">
                  <%=link_to restaurant_hopes_path(@restaurant.id), method: :post, class:"show-form", remote: true do %>
                    <i class="fas fa-running faa-horizontal animated-hover unhope-btn" id="unhope-btn"></i>
                  <% end %>
                  <%= @restaurant.hopes.length %>
                  行きたい
                </div>
              <% end %>
            </div>
            <%# 行きたい条件分岐 // %>
            <%# よかった条件分岐 %>
            <div id="heart">
              <% if @like.present? %>
                <div class="show-like">
                  <%=link_to restaurant_like_path(@restaurant.id, @like[0].id), method: :delete, class:"show-form", remote: true do %>
                    <i class="far fa-heart faa-ring animated-hover like-btn" id="like-btn"></i>
                  <% end %>
                  <%= @restaurant.likes.length %>
                  よかった
                </div>
              <% else %>
                <div class="show-like">
                  <%=link_to restaurant_likes_path(@restaurant.id), method: :post, class:"show-form", remote: true do %>
                    <i class="far fa-heart faa-tada animated-hover unlike-btn" id="unlike-btn"></i>
                  <% end %>
                  <%= @restaurant.likes.length %>
                  よかった
                </div>
              <% end %>
            </div>
            <%# よかった条件分岐 //%>
          <% else %>
            <div class="showmain-likestotal">
              <small class="text-muted"><i class="fas fa-running faa-passing-reverse hope-btn" id="hope-btn"></i><%= @restaurant.hopes.length %> 行きたい<i class="far fa-heart faa-ring like-btn" id="like-btn"></i><%= @restaurant.likes.length %> よかった</small>
            </div>
          <% end %>
        </div>
        <% if @restaurant.restaurant_url != nil %>
          <h1><%=link_to @restaurant.name, @restaurant.restaurant_url, class:"show-edit" %></h1>
        <% else %>
          <h1 class="show-name"><%= @restaurant.name %></h1>
        <% end %>
        <div class="show-line">
          <div class="show-r prefecture"><%= @restaurant.prefecture.name %></div>
          <div class="show-r show-station"><%= @restaurant.station %></div>
        </div>
        <div class="show-line">
          <div class="show-r genre"><%= @restaurant.genre.name %></div>
          <div class="show-r show-food"><%= @restaurant.food %></div>
        </div>
        <div class="show-r price"><%= @restaurant.price.name %></div>
        <div class="show-r opinions"><%= @restaurant.opinion %></div>
        <div class="show-line-author">【
          <div>著者：<%=link_to @restaurant.user.nickname, user_path(@restaurant.user), class:"show-r user-name" %></div>
          <div class="show-r user-taste">/ 好みの味付け：<%= @restaurant.user.favorite_taste.name %></div>】
        </div>
    </div>
  </div>

  <div class="show-sub">
    <div class="comment-container">
      <div class="comment-in">
      <% if user_signed_in? %>
        <%= form_with(model: [@restaurant, @comment], id: "comment-form") do |form| %>
          <div><%= form.text_area :comment, placeholder: "コメントする", rows: "2",  class:"comment-form", id: "comment-text"%></div>
          <div><%= form.submit "SEND", class: "comment-submit" , id: "comment-submit" %></div>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments" id="comments">
        <h4>コメント一覧</h4>
        <div class="comments-texts", id="comments_texts">
          <div id="list"></div>
          <% @comments.each do |comment| %>
          <div class="comment-text">
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comment-nickname" %></strong>
            <div class="comment-comment"><%= comment.comment %></div>
            <div class="comment-lower">
              <div class="comment-time">(<%= l comment.created_at %>)</div>
              <% if comment.user == current_user %>
                <div class="comment-delete">
                  <%= link_to restaurant_comment_path(@restaurant.id, comment.id), method: :delete, remote: true , data: {confirm: "本当に削除しますか？"} do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      </div>
      <%= paginate @comments %>
    </div>
  </div>

  <p class="m-5 pb-4 text-center text-muted">&copy; Tankozo</p>

</main>