<main>
  <div class="show-main">
    <div class="showcontent">
        <div class="show-img" alt="">
          <%= image_tag @restaurant.image.variant(resize: '500x500') %>
        </div>

        <%# 2箇所パスを変えるの忘れない %>
        <div class="show-line-btn">
          <% if user_signed_in? && current_user.id == @restaurant.user_id %>
            <div><%=link_to "Edit", edit_restaurant_path(@restaurant), class:"show-edit" %></div>
            <div><%=link_to "Delete", restaurant_path(@restaurant), method: :delete, class:"show-delete" %></div>
          <% elsif  user_signed_in? && current_user.id != @restaurant.user_id  %>
            <div><%=link_to "行きたい", root_path, class:"show-edit" %></div>
            <div><%=link_to "よかった", root_path, class:"show-delete" %></div>
          <% end %>
        </div>
        <%# 2箇所パスを変えるの忘れない %>

        <h1 class="show-name"><%= @restaurant.name %></h1>
        <div class="show-line">
          <div class="show-r prefecture"><%= @restaurant.prefecture.name %></div>
          <div class="show-r show-station"><%= @restaurant.station %></div>
        </div>
        <div class="show-line">
          <div class="show-r genre"><%= @restaurant.genre.name %></div>
          <div class="show-r show-food"><%= @restaurant.food %></div>
        </div>
        <div class="show-r price"><%= @restaurant.price.name %></div>
        <div class="show-r opinions"><%= @restaurant.opinion %></div>
        <div class="show-line-author">【
          <div>著者：<%=link_to @restaurant.user.nickname, user_path(@restaurant.user), class:"show-r user-name" %></div>
          <div class="show-r user-taste">/ 好みの味付け：<%= @restaurant.user.favorite_taste.name %></div>】
        </div>
    </div>
  </div>
</main>