<!DOCTYPE html>
<html>
  <head>
    <%# meta charset %>
    <meta charset="UTF-8">
    <title>Tankozo</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# font awesome %>
    <script src="https://kit.fontawesome.com/39342f9eb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%# font %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Yomogi&display=swap" rel="stylesheet">
    <%# slick読み込み %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%# JavaScript読み込み %>
    <%= javascript_pack_tag 'application' %>
    <%# slick読み込み %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%# レスポンシブ %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# line share %>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </head>
  <%= render "shared/header" %>
  <body>
    <%= yield %>
  </body>
  <span class="back" id="back">
    <a href="#top" id="btn-backtotop"><span class="arrow arrow_up"></span></a>
  </span>
</html>